/*  card dedsign  */
.cideo-style{
    background-color: #faebd7;
    height: 400px;
    box-shadow: 10px 5px 5px gray;
    border: 1px solid gainsboro;
    border-radius: 10px;

}
/* card animation  */
.video-card:hover{
    border: 1px solid rgb(252, 208, 11);
}
/* language name and price design  */
.card-value{
    color: orangered;
    font-weight: bold;
    font-size: 25px;
}